<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="ru.sstu.ushankashop"/>

    <!--&lt;!&ndash;подключаем пул connection для jdbc&ndash;&gt;-->
    <!--<bean class="com.zaxxer.hikari.HikariDataSource" id="dataSource">-->
        <!--<property name="jdbcUrl"-->
                  <!--value="jdbc:mysql://localhost:3306/ushanka"/>-->
        <!--<property name="username" value="ushanka_owner"/>-->
        <!--<property name="password" value="password-1"/>-->
        <!--<property name="dataSourceProperties" value="useSSL=false"/>-->
        <!--&lt;!&ndash;<property name="dataSourceProperties" value="&ndash;&gt;-->
        <!--&lt;!&ndash;verifyServerCertificate=false&amp;&ndash;&gt;-->
        <!--&lt;!&ndash;useSSL=false&amp;&ndash;&gt;-->
        <!--&lt;!&ndash;requireSSL=false&amp;&ndash;&gt;-->
        <!--&lt;!&ndash;useLegacyDatetimeCode=false&amp;&ndash;&gt;-->
        <!--&lt;!&ndash;serverTimezone=UTC"/>&ndash;&gt;-->
    <!--</bean>-->

    <!--подключаем проперти-файл db.properties - настройки mysql-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <!--прописываем настройки из db.properties в dataSource (spring-jdbc)-->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="driverClassName" value="${driver}"/>
    </bean>

    <!--<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">-->
        <!--<constructor-arg ref="dataSource"/>-->
    <!--</bean>-->
</beans>